body, body> p , body>ol,body>ul,body>td {margin:8px !important}

#banner{
	position: relative;
	min-height: 40px;
	background: #9c9;
	padding-bottom: 2px solid;
	font: small-caps 40px/40px "Times New Roman",serif;
	color: #282;
	text-align: center;


	img{
		position: absolute;
		top: 0;
		left: 0;
		width:192px;
	}
}

#notice {
	color:#000 !important;
	border: 2px solid red;
	padding :1em;
	margin-bottom: 2em;
	background-color: #fofofo;
	font:bold smaller sans-serif;
}

#notice:empty{
	display: none
}

#columns{
	background: #141;
	display: flex;
}

#main{
	padding:1em;
	background: white;
	flex:1;
}

#side{
	padding:1em 2em;
	background: #141;

	ul{
		padding:0;
		li{
		list-style: none;
			a{
			color:#bfb;
			font-size: small;
		  }
		}
	}
}

form ,div {
	display: inline;
}


input {
	font-size: small;
}

#cart {
	font-size: smaller;
	color: white;
	table {
		border-top: 1px dotted #595;
		border-bottom: 1px dotted #595;
		border-bottom: 10px;
	}
}

@media all and (max-width: 800px){
	#columns {
		flex-direction: column-reverse;
	}
}

@media all and (max-width: 500px){
	#banner {
		height: 1em;
	}
	#banner .title{
		display: none;
	}
}





